.active {
  color: green;
}
.header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.703);
}
.link {
  font-size: 18px;
  border-radius: 10px;
  &:hover {
    text-decoration: underline;
  }
}
.nav {
  display: flex;
  gap: 30px;
  margin-left: 70px;
}
